.hero-about {
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
  @include flexStyle(row, center, center, nowrap);
  background: linear-gradient(to bottom, #c15555, #240202, transparent),
    url("../images/page-2/hero-2.jpg");
  background-size: cover;
  &__content {
    position: absolute;
    z-index: 1;
  }
  &__header {
    @include set-font-style(#fff, 25px, bold);
    border-bottom: 3px solid #fff;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
  }
  &__text {
    @include set-font-style(#436dac, 14px, bold);
  }
}
