@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
html {
  font-size: 12px;
}
body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
